<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--<appSettings>
    <add key ="Test" value="Yes"/>
  </appSettings>-->

  <configSections>
    <section name="IISExpress" type="IISExpressController.Configuration.IISConfig, IISExpressController" />
  </configSections>

  <IISExpress IIsExecutablePath="C:\Program Files (x86)\IIS Express\iisexpress.exe" IISConfigFilePath="C:\Users\jchinnock\Documents\IISExpress\config\applicationhost.config" WebSiteName="IntelliFlo.IO.ClientTier.WebClient" AppPoolName="Clr4IntegratedAppPool" />
  

</configuration>